<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reimbursement Pro</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Reimbursement Pro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Filter
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" onclick="onShowOnly(true);">Pending</button>
                            <button class="dropdown-item" onclick="onShowOnly(false);">Resolved</button>
                            <button class="dropdown-item" onclick="onValidatedSession();">Reset</button>
                        </div>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-outline-default" id="managerLogout">Log out</button>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                
                
                <div class="col-md-12">
                <h1 class='dashboard_header' id="employee_login">Manager DashBoard</h1>
                <h4>Itemized Requests</h4>
                <div class="table-responsive">
        
                        
                        <table id="mytable" class="table table-bordred table-striped">
                            
                            <thead>
                            <tr>
                            <th>#</th>
                                <th>Expense</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Approved</th>
                                <th>Pending</th>
                                <th>Employee Id</th>
                                <th>Manager Id</th>
                                <th>Update</th>
                                </tr>
                            </thead>
                        <tbody id='myRequestTableBody'>
                        </tbody>
                
                    </table>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"
                            aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Request</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for='expense' class="form-control" id='requestnumber'>#</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id='requestexpense' name='expense' type="text" placeholder="expense">
                    </div>
                    <div class="form-group">
                        <input class="form-control " id='requestdescription' type="text" placeholder="description">
                    </div>
                    <div class="form-group">
                        <div class="upload-drop-zone" id="requestreceipt-drop-zone">
                            + Drag your receipt photo here +
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary btn-lg" id='requestsubmit' style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div>
            </div>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='../js/manager_dashboard_session.js'></script>

</body>
</html>