.main{
    margin-top: 40px;
}
#employee_login{
    color:blue;
}
#manager_login{
    color:blue;
}
#home_banner{
    margin-top: 10%;
    font-size: 80px;
    font-weight: bold;
    color:blue;
}
#loginDropDownButton{
    margin-top: 100px;
}
.dropdown-item-extra-space{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}
#author {
    margin-top: 20px;
}

/* https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h */
.contentMainScreen{
    height: 80vh;
    min-height: 500px;
}

.my-login-btn {
    margin-right: 10px;
}

.login-btn-grp {
    margin: 25px auto;
}

.upload-drop-zone {
    height: 150px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 150px;
    text-align: center;
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }

  .dashboard_header {
      margin-top: 40px;
      margin-bottom: 50px;
      text-align: center;
  }

  .fixedThumbs {
      width: 100px;
      height: 100px;
      object-fit: contain;
  }

  #newRequest {
      color:white;
      font-size: 20px;
      margin: 50px, 50px;
  }